.checkout .mx-auto.green{
    padding: 0.5rem;
    background: var(--bg-light-greenblue);
}


.checkout .information tr th,
.checkout .information tr td{
    padding: 0.1rem ;
    width: 50%;
}
.checkout .information tr th{
    text-transform: capitalize;
    font-weight: 500;
}
.checkout .information tr td{
    text-transform: uppercase;
}
.checkout .information tr td.email{
    text-transform: inherit;
}

.pay-pro .form-control{
    border-radius: 50rem;
}
.pay-pro .btn1{
    min-width: 100%;
    border-radius: 50rem;
    display: block;
    text-align: center;
}
@media only screen and (max-width: 600px){
    .pay-pro .btn1{
        margin-top: 1rem;
    }
}


/* ------- Order Summary ---  */
.booking-details strong{
    font-weight: 500;
    color: var(--color-blue);
}






/* =============== Booking Confirm =============  */
.booking-confirm-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
  }
  
  .confirmation-message {
    margin-bottom: 20px;
  }
  
  .confirmation-message h2 {
    color: var(--bg-dark-blue);
  }
  
  .confirmation-message p {
    font-size: 18px;
    color: var(--color-blue);
  }
  
  .booking-details h3 {
    color: var(--bg-dark-blue);
    margin-bottom: 20px;
  }
  
  .booking-details p {
    margin: 8px 0;
    font-size: 16px;
    color: var(--color-blue);
  }
  
  .back-to-home {
    margin-top: 20px;
  }
  