.profile-tabs {
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
}

.profile-tabs .nav-tabs {
    border-bottom: 2px solid var(--color-began); 
}

.profile-tabs .nav-link {
    color: var(--color-began); /* --color-blue */
    background-color: transparent;
    border: none;
    border-radius: 0;
    cursor: pointer;
    font-size: 18px;
    margin-right: 10px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.profile-tabs .nav-link.active {
    background-color: var(--color-began); 
    color: #fff;
}

.profile-tabs .tab-content {
    padding: 20px;
    background-color: var(--color-began-light); 
    border-radius: 5px;
    margin-top: 10px;
    overflow-x: auto;
}

.profile-tabs .tab-pane {
    display: none;
}

.profile-tabs .tab-pane.active {
    display: block;
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
